<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Consulta_Regional_de_Credito.Properties.Settings.credisanchez_companyConnectionString"
            connectionString="Data Source=DESKTOP-89IV0KS\SQLEXPRESS;Initial Catalog=credisanchez_company;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>